<div class="container">
  <div class="image"><img src="../assets/images/image-equilibrium.jpg" alt=""></div>
  <p>Equilibrium #3429</p>
  <p>Our Equilibrium collection promotes balance and calm.</p>
  <div class="icons">
    <div class="etherem">
      <div><img src="../assets/images/icon-ethereum.svg" alt=""></div>
      <div><p> 0.041 ETH</p></div>
    </div>
    <div class="clock">
      <div><img src="../assets/images/icon-clock.svg" alt=""></div>
      <div><p>3 days left </p></div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="create">
    <div><img src="../assets/images/image-avatar.png" alt="img not found"></div>
    <div><h3>Creation of Jules Wyvern</h3></div>
  </div>
</div>