.container{
    max-width: 1200px;
    padding: 40px 40% 20% 40%;

    img{
        max-height: 200px;
    }
    .icons{
        display: flex;
        flex-direction: row;
        grid-gap:50px;

        .etherem{
            display: flex;
            flex-direction: row;

            >:first-child{
                padding-top: 15px;
                padding-right: 5px;
            }
        }
        .clock{
            display: flex;
            flex-direction: row;

            >:first-child{
                padding-top: 15px;
                padding-right: 5px;
            }
        }
    }
    .create{
        display: flex;
        flex-direction: row;

        img{
            max-height: 30px;
            padding-top: 15px;
            padding-right: 10px;
        }
    }
}
